<!-- TODO: remove inline styles -->
<!-- topic in class is used for toggling -->
<div id="<%=tweet.tweet_id%>" class="row tweet hidden panel <%=tweet.topic%> " data-topic="<%=tweet.topic%>" style="margin-top:4px; margin-left: 1%; margin-right: 1%; width:100%;">
  <div class="col-xs-12" style="margin:1% 0 1% 0">
    <div class="twitter-tweet">
      <div>
        <h3 class="pull-left" style="margin:0 0 1% 0;width:100%;">
          <%= tweet.topic %>
        </h3>
      </div>
      <div style="display:inline-block;width:80%;">
        <p class="tweet-text"><%= tweet.text %> </p>
        <p class="user-info" data-user-name="<%=tweet.user_name%>" data-user-handle="<%=tweet.user_handle%>">- <%= tweet.user_name %> ( <%= link_to tweet.user_handle, "https://twitter.com/#{tweet.user_handle}" %> ) </p>
      </div>
      <div style="display:inline-block;width:15%;">
        <img style="padding:0; display:inline-block;" src="<%= tweet.user_profile_image_url %>" class="img-circle profilePic">
      </div>
      <div style="margin:1%">
        <div class="pull-left" style="display:inline-block">
          <button type="button" class="btn btn-success save" data-tweet-id="<%= tweet.tweet_id %>">Save</button>
          <button type="button" class="btn btn-danger discard" data-tweet-id="<%= tweet.tweet_id %>">Discard</button>
        </div>
        <div class="pull-right" style="display:inline-block">
          <a href="https://twitter.com/intent/tweet?in_reply_to=<%= tweet.tweet_id %>>" class="btn btn-standard">Reply</a>
          <a href="https://twitter.com/intent/retweet?tweet_id=<%= tweet.tweet_id %>" class="btn btn-standard" style="color:#17bf63">Retweet</a>
          <a href="https://twitter.com/intent/like?tweet_id=<%= tweet.tweet_id %>" class="btn btn-standard" style="color:#e0245e;">Like</a>
        </div>
      </div>
    </div>
  </div>
</div>

<script>

  initialize();

  function initialize(){
      initializeListeners();
  }

  // Each Tweet is given its Tweet ID from Twitter as its ID on this page.
  // We identify a tweet by that ID and then when someone has clicked to save the tweet, we just get all the data
  // for the front-end Tweet as an object and return it to be persisted.
  function getTweetData(id) {
      var $tweet = $("#" + id);
      var tweetText = $tweet.find(".tweet-text").text();
      var userInfo= $tweet.find(".user-info");
      var userName = userInfo.data("user-name");
      var userHandle = userInfo.data("user-handle");
      var topic = $tweet.data("topic");

      var dataObject = {
          "text": tweetText,
          "user_name": userName,
          "user_handle": userHandle,
          "topic": topic
      };

      return dataObject;
  }

  function initializeListeners() {
      $(".tweet").unbind().on("click", "button", function(event) {
          // If you clicked the save button
          if( $(event.target).hasClass('save')){
              var idToPersist = $(this).data('tweet-id');
              var tweetData = getTweetData(idToPersist);
              $("#" + idToPersist).remove();
              $.ajax({
                  url: "/tweets/save",
                  dataType: "script",
                  method: "POST",
                  data: {
                      tweet: tweetData
                  }
              });
          }
          else if( $(event.target).hasClass('discard')){
              var idToRemove = $(this).data('tweet-id');
              $("#" + idToRemove).remove();
          }
      })
  }
</script>