<div id="<%=tweet.tweet_id%>" class="row tweet hidden <%=tweet.topic%> " data-topic="<%=tweet.topic%>" style="margin-top:4px; margin-left: 1%; margin-right: 1%; width:100%;">
  <img style="padding:0px;" src="<%= tweet.user_profile_image_url %>" class="img-circle profilePic">
  <p class="col-xs-10 col-xs-offset-2 text">
    <blockquote class="twitter-tweet">
      <p class="tweet-text"><%= tweet.text %> </p>
      <br/>
      <p class="user-info" data-user-name="<%=tweet.user_name%>" data-user-handle="<%=tweet.user_handle%>">- <%= tweet.user_name %> ( <%= link_to tweet.user_handle, "https://twitter.com/#{tweet.user_handle}" %> ) </p>
      <hr/>
      <a href="https://twitter.com/intent/tweet?in_reply_to=<%= tweet.tweet_id %>>" class="btn btn-standard">Reply</a>
      <a href="https://twitter.com/intent/retweet?tweet_id=<%= tweet.tweet_id %>" class="btn btn-standard" style="color:#17bf63">Retweet</a>
      <a href="https://twitter.com/intent/like?tweet_id=<%= tweet.tweet_id %>" class="btn btn-standard" style="color:#e0245e;">Like</a>
      <hr/>
      <button type="button" class="btn btn-success save" data-tweet-id="<%= tweet.tweet_id %>">Save</button>
      <button type="button" class="btn btn-danger discard" data-tweet-id="<%= tweet.tweet_id %>">Discard</button>

  <% if tweet.topic %>
    <h3 class="pull-right"><%= tweet.topic %></h3>

  <% end %>
    </blockquote>
  </p>
</div>

<script>

  initialize();

  function initialize(){
      initializeListeners();
  }

  function getTweetData(id) {
      var $tweet = $("#" + id);

      var tweetText = $tweet.find(".tweet-text").text();
      var userInfo= $tweet.find(".user-info");
      var userName = userInfo.data("user-name");
      var userHandle = userInfo.data("user-handle");
      var topic = $tweet.data("topic");

      var dataObject = {
          "text": tweetText,
          "user_name": userName,
          "user_handle": userHandle,
          "topic": topic
      };

      return dataObject;
  }

  function initializeListeners() {

      $(".tweet").unbind().on("click", "button", function(event) {
          console.log("clicking");
          if( $(event.target).hasClass('save')){

              var idToPersist = $(this).data('tweet-id');
              var tweetData = getTweetData(idToPersist);

              console.log(tweetData);

              $("#" + idToPersist).remove();

              $.ajax({
                  url: "/tweets/save",
                  dataType: "script",
                  method: "POST",
                  data: {
                      tweet: tweetData
                  }
              });

          }

          else if( $(event.target).hasClass('discard')){
              var idToRemove = $(this).data('tweet-id');
              $("#" + idToRemove).remove();
              console.log("will delete " + idToRemove + " from dashboard");
          }


      })
  }
</script>