<div class="container">
  <div class="row">
    <div class="col-xs-3 limit">
      <div class="dropdown">
        <button class="btn btn-default dropdown-toggle" type="button" id="data-dropdown-filter" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
          Number of Results
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="data-dropdown-filter">
          <!-- Each of these hit the controller and make a new filter call -->
          <li>
            <a href="/tables/filter/25">25</a>
          </li>
          <li>
            <a href="/tables/filter/50">50</a>
          </li>
          <li>
            <a href="/tables/filter/100">100</a>
          </li>
          <li>
            <a href="/tables/filter/250">250</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-xs-1 space">
    </div>
    <div class="col-xs-8 pages">
      <ul class="pagination">
        <% if show_prev %>
            <li>
              <a href="/tables/filter/<%=@tweets_per_page%>/paginate/<%=@page_number - 1 %>">Prev</a>
            </li>
        <% end %>
        <% if show_next %>
            <li>
              <a href="/tables/filter/<%=@tweets_per_page%>/paginate/<%=@page_number + 1 %>">Next</a>
            </li>
        <% end %>
        <% (@total_tweets / @tweets_per_page.to_f).ceil.times do |i| %>
            <li>
              <a href="/tables/filter/<%=@tweets_per_page%>/paginate/<%=i+1%>"><%= i + 1 %></a>
            </li>
        <% end %>
      </ul>
    </div>
  </div>
  <%= render 'tables/tweet_table', locals: {tweets: @tweets} %>
</div>